<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/layout.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Layout</title>
	</head>
	<body>
		<header class="header">
			<div class="header__title">Dashboard</div>
			<div class="header__right">
				<div class="header__search-wrapper"><input class="header__search" placeholder="Search here..."/>
					<span class="header__search-icon"></span>
				</div>
				
				<div class="header__lang">
					
					<div class="header__lang-selected">
						<div><img src="icons/En.svg"/></div>
						<div class="header__lang-text">Eng (US)</div>
					</div>
					<div><img class="header__arrow" src="icons/chevron-down.svg"></div>
				</div>
				
				<div class="header__profile">
					<img src="icons/No" class="header__notifications"/>
					<img/>
					<div class=""></div>
				</div>
			
			
			</div>
		</header>
		
		
		<aside class="sidebar"><h1>sidebar</h1>
			<div class="sidebar__logo">
				<img href="#" alt="logo"/>
				<div class="sidebar__logo-title"></div>
			</div>
			<button>Dashboard</button>
			<nav>
				<ul>
					<li><a href="#">Leaderboard</a></li>
					<li><a href="#">Leaderboard</a></li>
					<li><a href="#">Leaderboard</a></li>
					<li><a href="#">Leaderboard</a></li>
					<li><a href="#">Leaderboard</a></li>
				</ul>
			</nav>
			<div class="">
				<button>Get Pro</button>
			</div>
		
		</aside>
		<main class="content">
		</main>
	
	</body>
</html>