@import url('../../reset.css');

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 345px 1fr;
  grid-template-rows: 120px 1fr;
}

.header {
  background-color: rebeccapurple;
}

.sidebar {
  grid-row: 1 / -1;
  background: #2c2c2c;

  &__logo {

  }

  & __logo-title {

  }
}

.content {
  background-color: hotpink;
  //#FAFBFC;
  overflow-y: auto;
}