@import url('../reset.css');



body {
    background-color: #787878;
    font-family: 'Inter';
    font-weight: 400; /* regular */
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 12px;
    transform: translate(-50%, -50%);
    width: 470px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px 40px 26px 40px;
}

.modal__icon {
    width: 44px;
    height: 44px;
}

.modal__title {
    font-weight: 600;
    color: #282828;
    font-size: 20px;
    line-height: 28px;
}

.modal__description {
    color: #5F6980;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}

.modal__actions {
    display: flex;
    gap: 16px;
}

.modal__button {
    width: 187px;
    height: 52px;
    border-radius: 6px;
    border: 2px solid #5F6980;
    background-color: #FFFFFF;
    cursor: pointer;
}

.modal__button--proceed {
    background-color: #FD7E14;
    color: white;
    border-color: transparent;
}


@media (max-width: 768px) {

    .modal {
        width: 343px;
        padding: 32px 24px;
    }


    .modal__button {
        width: 139.5px;
    }

}