@import "../fonts/fonts.css";
@import url('../reset.css');


body {
    background-color: #F7F6F5;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500; /* Medium */
    color: #3A3845;
}


.header {
    width: 100%;
    background-color: #FFF;
    padding: 24px 0;
}

.header__container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 122px;
}

.header__logo {
    display: inline-block;
    width: 183px; /* исходная ширина */
    height: 48px; /* исходная высота */
    max-width: 100%; /* подстраивается под контейнер */
    min-width: 100px;
}

.header__logo img {
    display: block;
}

.header__nav {
}

.header__links {
    display: flex;
    gap: 16px;
}


.header__links li {
    padding: 8px 12px;
}

.header__links li:hover {
    text-decoration: underline;
    color: #C69B7B;
}


.header__right {
    display: flex;
    align-items: center;
    gap: 64px;
}

.header__search-wrapper {
    position: relative;
    width: 320px;
    flex: 1 1 auto; /* может сжиматься и расширяться */
    min-width: 42px; /* минимальная ширина, чтобы не исчезал */
}


.header__search {
    width: 100%;
    height: 44px;
    font-weight: 400;
    font-size: 14px;
    color: #A6A6A8;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 12px 12px 12px 35px;
}

.header__search::placeholder {
    color: #A6A6A8;
}

.header__search-wrapper::before {
    content: '';
    position: absolute;
    left: 12px;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    width: 17px;
    height: 17px;
    background: url('../header/Icons/Search.svg') no-repeat center center;
    background-size: contain;
}

.header__icons {
    flex-shrink: 0;
    display: flex;
    gap: 16px;
}

.header__icons img {
    width: 24px;
    height: 24px;
}

.header__burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
}

.header__burger span {
    display: block;
    height: 3px;
    background-color: #000;
    border-radius: 2px;
}

@media (max-width: 1250px) {

    .header {
        padding: 24px 20px;
    }

    .header__left, .header__right, .header__icons {
        gap: 10px;
    }

    .header__links {
        gap: 0;
    }

    .header__search-wrapper {
        max-width: 150px;
    }
}

@media (max-width: 768px) {

    .header {
        padding: 24px 20px;
    }

    .header__left {
        justify-content: left;
        align-items: center;
        gap: 12px;
    }

    .header__search-wrapper {
        width: 15px;
    }

    .header__search {
        padding: 6px 6px 6px 35px;

    }

    .header__left, .header__right, .header__icons {
        gap: 10px;
    }

    .header__logo {
        width: 130px;
        height: auto;
    }

    .header__links {
        opacity: 0;
        flex-direction: column;
        gap: 10px;
        position: absolute; /* важно */
        top: 100%; /* под хедером */
        left: 0;
        width: 100%;
        background: #fff;
        padding: 10px 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 10; /* важно, чтобы было поверх других блоков */
        transition: opacity 0.3s ease, transform 0.3s ease;

        transform: translateY(-10px);
        pointer-events: none;

    }


    /* Активное состояние */
    .header__links.active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .header__burger {
        display: flex; /* показываем бургер на мобилке */
    }

}
